/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  
  .modal-content {
    background-color: #0f0e17;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 15%; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
  
  .close {
    color: #aaa;
    position: relative;
    left: 45%;
    top: 10%;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #f25f4c;
    text-decoration: none;
    cursor: pointer;
  }

  input { 
    border: 1px solid black;
    border-radius: 15px;
    height: 25px;
  }

  label {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    right: 35%;
    padding: 5px;
    color: white;
  }

  #title-label {
    right: 39%;
  }

  #checkbox-label {
    right: 36.5%;
  }

  #author, #title, #pages {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

    #read {
      position: absolute;
      top: 59.25%;
      right: 52%;
      border-radius: 10%;
    }



  /* Library and cards */

  body {
    background-color: #0f0e17;
    text-align: center;
  }
  h1 {
    color: white;
    font-size: 60px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
  }

  h5 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 30px;
  }

  i {
    transform: scale(.65)
  }

  p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 200; 
    font-size: 25px;

  }

  #library {
    margin: 30px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 80%;
  }  

  .card{
    background-color: #f25f4c;
    width: 55%;
    border-radius: 2%;
    border: 3px solid black;
    height: 18em;
    text-align: center;
  }

  /* Buttons */

  button {
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
  }
  lord-icon{
    transform: scale(.8)
  }
  #myBtn {
    font-size: 30px;
    border-radius: 5%;
    border: 3px solid #f25f4c;
    background-color: black;
    color: white;
    padding-right: 30px;
  }
  
  #add {
    font-size: 30px;
    border-radius: 5%;
    border: 3px solid #f25f4c;
    background-color: black;
    color: white;

  }

  